.header__logo{
    background-image: url("../../../images/logo-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 173px;
    height: 33px;
    margin: 45px 200px 36px 0;
}

@media screen and (max-width: 880px) {
    .header__logo{ 
        width: 126px;
        height: 24px;
        margin: 28px auto 32px 27px;
    }
}