.popup__close {
  background-image: url("../../../images/close-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  width: 57px;
  height: 57px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: 1;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .popup__close {
    width: 33px;
    height: 33px;
    right: 0;
  }
}
