.photo-grid__delete-btn {
  background-image: url(../../../images/button/delete_btn.svg);
  background-color: transparent;
  width: 18px;
  height: 19px;
  background-position: center center;
  border: none;
  background-size: contain;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: 18px;
}

.photo-grid__delete-btn:hover {
  opacity: 0.6;
}
