.photo-grid__card-button {
  background-color: transparent;
  width: 21px;
  height: 19px;
  background-position: center center;
  border: none;
  background-size: contain;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  align-self: center;
  background-image: url(../../../images/button/like_button.svg);
}

.photo-grid__card-button:hover {
  opacity: 0.5;
}

/* .photo-grid__card-button:active {
  background-image: url(../../../images/button/like_button_active.svg);
  opacity: 1;
} */
